/* Portfolio CSS */

/* From Starter Code */

* {
    box-sizing: border-box;
  }
  
 
/* CSS Variables */

:root 
  {
    --portfolioblue: #000000;
    --portfoliopurple: #ffffff;
    --portfoliopink: #ffffff;
    --portfoliogrey: rgba(205,205,205, 0.45);
    --portfoliotext: #000000;
  }

/* Webpage Styles */

body
  {
    color: var(--portfoliotext);
    margin: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    line-height: 1.5;
    padding: 20px;
  }

p 
  {
    margin: 0;

  }

h1 
  {
    font-size: 1.7em;
    font-weight: bolder;
    text-align: center;
    margin: 0;
  }

h2 
  {
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }

h3
  {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
  }

h4
  {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    margin: 0;
  }

/* Footer */

h5
  {
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }

/* Footer Credits */

h6
  {

    font-size: .75em;
    font-weight: lighter;
    text-align: center;
    margin: 0;
  }



/* About Me Section */

.profile-image 
  {
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    align-self: center;
  }

/* Portfolio Section */

#layout-grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 75px;
    grid-template-areas: 
        "Port1 Port1 Port1 Port1"
        "Port2 Port3 Port4 Port5"
        "Port6 Port7 Port8 Port9"
    ;
}

.Portfolio
{
    display: flex;
    align-items: flex-end;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    /* justify-self: stretch; */
  
}

.Portfolio p
{
    width: 100%;
    text-align: left;
    margin: 0;
    /* display: inline-block; */
    background-color: var(--portfoliogrey);
    padding: 15px;
    
    
    
}

/* Images for Projects */

#Port1 {
    grid-area: Port1;
    background-image: url("https://ucstuart.github.io/uob-portfolio/assetts/images/02-portfolio-1.jpg");
}

#Port2
{
    grid-area: Port2;
    background-image: url("https://ucstuart.github.io/uob-portfolio/assetts/images/02-portfolio-2.jpg");
}

#Port3
{
    grid-area: Port3;
    background-image: url("https://ucstuart.github.io/uob-portfolio/assetts/images/02-portfolio-3.jpg");
}

#Port4
{
    grid-area: Port4;
    background-image: url("https://ucstuart.github.io/uob-portfolio/assetts/images/02-portfolio-4.jpg");
}

#Port5 {
  grid-area: Port5;
  background-image: url("https://ucstuart.github.io/uob-portfolio/assetts/images/02-portfolio-1.jpg");
}

#Port6
{
    grid-area: Port6;
    background-image: url("https://ucstuart.github.io/uob-portfolio/assetts/images/02-portfolio-2.jpg");
}

#Port7
{
    grid-area: Port7;
    background-image: url("https://ucstuart.github.io/uob-portfolio/assetts/images/02-portfolio-3.jpg");
}

#Port8
{
    grid-area: Port8;
    background-image: url("https://ucstuart.github.io/uob-portfolio/assetts/images/02-portfolio-4.jpg");
}

#Port9 {
  grid-area: Port9;
  background-image: url("https://ucstuart.github.io/uob-portfolio/assetts/images/02-portfolio-1.jpg");
}


/* Social Network Section */

#social img 
  {
    margin: 15px 35px;
    max-height: 50px;
    max-width: 50px;
  }