/* Portfolio CSS */

/* From Starter Code */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

/* About Me Section */

  .profile-image {
    margin: auto;
    max-width: 125px;
    max-height: 125px;
  }

/* Social Network Section */

  #social img {
    margin: 15px 35px;
    max-height: 50px;
    max-width: 50px;
  }