/* Portfolio CSS */

/* From Starter Code */

* {
    box-sizing: border-box;
  }
  
 
/* CSS Variables */

:root 
  {
    --portfolioblue: #041592;
    --portfoliopurple: #831587;
    --portfoliopink: #ff0385;
    --portfoliogrey: rgba(205, 205, 205, 0.798);
    --portfoliocyan: #00ffff;
    --portfoliotext: #0c0c0cce;
  }

/* Webpage Styles */

main
{
  margin: 75px;
}


body
  {
    color: var(--portfoliotext);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    line-height: 1.5;
    padding: 20px;
  }

p 
  {
    margin: 0;

  }

h1 
  {
    font-size: 1.7em;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    color: var(--portfoliopink)
  }

h2 
  {
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    margin: 0;
    color: var(--portfolioblue);
  }

h3
  {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--portfoliopurple);
  }

h4
  {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    margin: 0;
    color: var(--portfoliopurple);
  }

/* Footer */

h5
  {
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }

/* Footer Credits */

h6
  {

    font-size: .75em;
    font-weight: lighter;
    text-align: center;
    margin: 0;
  }

/* Nav Secton */

nav a
{
  color: var(--portfoliocyan);
}

nav
{
  background-color: var(--portfolioblue);
  min-height: 35px;
}

nav ul
{
  text-align: center;
  padding: 10px 0 10px 0;
}

nav ul li
{
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
  
}

nav li
{
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

/* About Me Section */

.profile-image 
  {
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    align-self: center;
  }

/* Portfolio Section */

#layout-grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 75px;
    grid-template-areas: 
        "Port1 Port1 Port1 Port1"
        "Port2 Port3 Port4 Port5"
        "Port6 Port7 Port8 Port9"
    ;
}

.Portfolio
{
    display: flex;
    align-items: flex-end;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    /* justify-self: stretch; */
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
  
}

/* The p was a child of a therefore the width should be here */

.Portfolio a
{
  width: 100%;
  text-decoration: none;
}

.Portfolio p
{
    text-align: left;
    margin: 0;
    background-color: var(--portfoliogrey);
    padding: 15px;
    font-size: large;
    font-weight: bold;
    color: var(--portfoliopurple);
        
}

/* Images for Projects */

#Port1 {
  grid-area: Port1;
  background-image: url("../images/ucreseller.PNG");
}

#Port2
{
    grid-area: Port2;
    background-image: url("../images/refactor.PNG");
}

#Port3
{
    grid-area: Port3;
    background-image: url("../images/portfolio.PNG");
}

#Port4
{
    grid-area: Port4;
    background-image: url("../images/evantoelements/bird1.jpg");
}

#Port5 {
  grid-area: Port5;
  background-image: url("../images/evantoelements/dev1.jpg");
}

#Port6
{
    grid-area: Port6;
    background-image: url("../images/evantoelements/bird2.jpg");
}

#Port7
{
    grid-area: Port7;
    background-image: url("../images/evantoelements/dev2.jpg");
}

#Port8
{
    grid-area: Port8;
    background-image: url("../images/evantoelements/bird3.jpg");
}

#Port9 {
  grid-area: Port9;
  background-image: url("../images/evantoelements/dev3.jpg");
}

/* Contact Me Section */

#contact h3
{
  text-align: center;
  color: var(--portfoliopurple);
}

#contact ul
{
  text-align: center;
}

#contact li, a
{
  list-style-type: none;
  text-decoration: none;
}



/* Social Network Section */

#social img 
  {
    margin: 15px 35px;
    max-height: 50px;
    max-width: 50px;
  }

#social h3
{
  text-align: center;
  color: var(--portfoliopurple);
}

#social ul
{
  text-align: center;
}

#social ul li
{
  
  list-style-type: none;
  display: inline-block;
  
}

